#shoppingcar{
    width: 1349px;
    margin: 0 auto;
    .w{
        width: 1200px;
        margin: auto;
        .shopping_nav{
            .Navigation{
                font-size: 16px;
                color: #333;
                padding: 30px 0 15px;
                border-bottom: 1px solid #ddd;
                margin-bottom: 35px;
                span{
                    font-size: 16px;
                    color: #777;
                }
                .comma{
                    font-size: 16px;
                    color: #777;
                    padding:0 5px;
                }
            }
        }
        .main{
            width: 1200px;
            margin: auto;
            .cart-title{
                margin-bottom: 15px;
                #cart-ico{
                    display: block;
                    width: 140px;
                    height: 40px;
                    background: url(../img/sprite\ 2.png) no-repeat -154px -777px;
                }
            }
            .cart-steps2{
                background: url(../img/cartsteps.png) no-repeat 0 -56px;
                width: 1200px;
                height: 37px;
                margin: 0 0 30px;
            }
            .cart-content{
                margin-left: 400px;
               .cart_title{
                   font-size: 18px;
                    padding-left: 0;
                    padding-bottom: 8px;
                    padding: 0 0 5px 10px;
                }
                .shipping-address{
                    margin-top: 40px;
                }
                .detailed-address{
                    margin-top: 20px;
                }
                .zip-code{
                    margin-top: 20px;
                    span{
                        margin-left: 30px;
                    }
                    #zipCode{
                        width: 60px;
                    }
                }
                .consignee-name{
                    margin-top: 20px;
                    span{
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                    input{
                        width: 50px;
                    }
                }
                .consignee-tel{
                    margin-top: 20px;
                    input{
                        width: 120px;
                    }
                }
                #Confirm_receipt{
                    background-color: #fa3b88;
                    color: aliceblue;
                    border: 0;
                    padding-right: 15px;
                    width: 110px;
                    margin-top: 20px;
                    height: 30px;
                    margin-left: 50px;
                    margin-top: 30px;
                }
                #gobuy{
                    background-color: #fa3b88;
                    color: aliceblue;
                    border: 0;
                    padding-right: 15px;
                    width: 110px;
                    margin-top: 20px;
                    height: 30px;
                    margin-left: 100px;
                    margin-top: 30px;
                }
            }
        }
    }
}
html,body{
    width: 100%;
    height: 100%;
}
#bigshadow{
    position: fixed;
    z-index: 150;
    width: 100%;
    height: 100%;
    background-color: rgba(111,111,111,.3);
    display: none;
    #erweima{
        position: absolute;
        top: 0;
        bottom:0;
        left:0;
        right:0;
        margin: auto;
        background-color: #fff;
        width: 400px;
        height: 440px; 
        img{
            width: 400px;
            height: 400px;  
        }
        #tixing{
            text-align: center;
            height: 40px;
            line-height: 40px;
            font-size: 20px
        }
    }
}
#payment_page{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(111,111,111,.3);
    display: none;
    #payment_interface{
        position: absolute;
        top: 0;
        bottom:0;
        left:0;
        right:0;
        margin: auto;
        background-color: #fff;
        width: 400px;
        height: 400px;
        #payment_title{
            width: 400px;
            height: 50px;
            background-color: #fa3b88;
            font-size: 18px;
            line-height: 50px;
            text-align: center;
            color: #fff;
        }
        #address{
            margin-top: 10px;
            width: 400px;
            height: 100px;
            font-size: 14px;
            margin-left: 20px;
            line-height: 100px;
            
            #address_choose{
                width: 250px;
                height: 20px;
                margin-left: 5px;
            }
        }
        #recipient{
            width: 400px;
            height: 100px;
            font-size: 14px;
            margin-left: 25px;
            line-height: 100px;
            .recipient{
                width: 150px;
                margin-left: 10px;
                height: 20px;
            }
        }
        .goodsprice{
            color: #fa3b88;
            font-size: 25px;
            text-align: center;
        }
       
        #pay{
            width: 152px;
            height: 40px;
            margin-left: 30px;
            margin-top: 30px;
            background-color: #fa3b88;
            font-size: 18px;
            color: #fff;
            border: 0;
            outline: none;
        }
        #cancel{
            width: 152px;
            height: 40px;
            margin-left: 30px;
            margin-top: 30px;
            background-color: #fa3b88;
            font-size: 18px;
            color: #fff;
            border: 0;
            outline: none;
        }
    }
}
